<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/css/modern-business.css" type="text/css" media="screen" charset="utf-8">
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
    {% include header.html %}
    {% include nav.html %}
    <main class="container">
        {{ content }}
    </main>
    {% include footer.html %}
</body>
</html>